<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/submit-name" method="POST">
        <div>
          <label>Nama</label>
          <input type="text" name="nama" />
        </div>
        <div>
          <label>Alamat</label>
          <input type="text" name="alamat" />
        </div>
        <div>
          <label>email</label>
          <input type="email" name="email" />
        </div>
        <div>
          <label>nomor handphone</label>
          <input type="text" name="nomor" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
